
.main-footer ul {
    list-style: none;
    padding: 0;
}

.bg-trasparent-white-kino {
    background-color: rgba(255,255,255, 0.3);
}

.image-kino {
    width: 200px;
    height: 200px;
}

.shadowCard{
    color: black;
}

.shadowCard:hover{
    box-shadow:  0px 5px 10px -7px black,0px -5px 10px -7px black;
}

.linkCard{
    text-decoration: none;
}

.linkCard:hover{
    text-decoration: none;
}

.price{
    color: #E32C1F !important;
}

.bgHeader{
    background: #FFCC98;
    color: #E32C1F !important;
}

.bgHeader  div{
    background: #FFCC98;
    color: #E32C1F !important;
    border-color: blanchedalmond;
}

.bgHeader a{
    color: #E32C1F !important;
}

.bgFooter{
    background: #FFE3B3;
}

.bgFooter span{
    color: #E32C1F !important;
}

.facebook-btn {  
    background:#3C589C !important; 
}

.google-btn { 
    background: #DF4B3B!important;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
